<!-- <div class="modal-header">
  <div class="modal-title" backdrop="static">字典详情</div>
</div> -->
<div class="modal-body">
  <nz-descriptions [nzBordered]="true" [nzColumn]="2">
    <nz-descriptions-item nzTitle="{{'app.systems.dict-type.column.name'|i18n}}">{{ model.name }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="{{'app.systems.dict-type.column.code'|i18n}}">{{ model.code }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="{{'app.systems.dict-type.column.enabled'|i18n}}"><i *ngIf="model.enabled" nz-icon
        nzType="check"></i><i *ngIf="!model.enabled" nz-icon nzType="close"></i></nz-descriptions-item>
    <nz-descriptions-item nzTitle="{{'app.systems.dict-type.column.creationTime'|i18n}}">{{ model.creationTime }}</nz-descriptions-item>
  </nz-descriptions>
</div>