<form nz-form #ngForm [formGroup]="form" (ngSubmit)="submit(ngForm, btnSubmit)" role="form">
  <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
  <div nz-row>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-control nzErrorTip="请输入登录用户名">
          <nz-input-group nzSize="large" nzPrefixIcon="user">
            <input nz-input formControlName="userName" placeholder="登录用户名" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-control nzErrorTip="请输入登录密码">
          <nz-input-group nzSize="large" nzPrefixIcon="lock">
            <input nz-input type="password" formControlName="password" placeholder="登录密码" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-control [nzErrorTip]="'validation.verification-code.required' | i18n">
          <nz-row [nzGutter]="8">
            <nz-col [nzSpan]="16">
              <nz-input-group nzSize="large" nzPrefixIcon="mail">
                <input nz-input formControlName="captcha" placeholder="验证码" />
              </nz-input-group>
            </nz-col>
            <nz-col [nzSpan]="8">
              <img alt="刷新" class="cursor" *ngIf="captchaImg" src="data:image/png;base64,{{ captchaImg }}" (click)="loadCaptcha()" />
            </nz-col>
          </nz-row>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-col [nzSpan]="12">
          <label nz-checkbox formControlName="remember">{{ 'app.login.remember-me' | i18n }}</label>
        </nz-col>
        <nz-col [nzSpan]="12" class="text-right">
          <a class="forgot" routerLink="/passport/register">{{ 'app.login.forgot-password' | i18n }}</a>
        </nz-col>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <button nz-button #btnSubmit type="submit" nzType="primary" nzSize="large" nzBlock>
          {{ 'app.login.login' | i18n }}
        </button>
      </nz-form-item>
    </div>
  </div>
</form>