<form nz-form #form="ngForm" autocomplete="off" [nzLayout]="'vertical'">
  <!-- <div class="modal-header">
    <div class="modal-title" backdrop="static">编辑角色</div>
  </div> -->
  <nz-spin *ngIf="loading" class="modal-spin"></nz-spin>
  <div *ngIf="!loading" class="modal-body">
    <nz-row [nzGutter]="16">
      <nz-col nzLg="24" nzMd="24" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzRequired]="true">{{'app.systems.role.column.code' | i18n}}</nz-form-label>
          <nz-form-control [nzErrorTip]="vt_code">
            <input #v_code="xValidationExtend" name="code" nz-input x-validation-extend
              displayName="app.systems.role.column.code" placeholder="{{'app.systems.role.column.code' | i18n}}"
              [(ngModel)]="model.code" [maxlength]="64" [required]="true" />
            <ng-template #vt_code>{{v_code.getErrorMessage()}}</ng-template>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <nz-row [nzGutter]="16">
      <nz-col nzLg="24" nzMd="24" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzRequired]="true">{{'app.systems.role.column.name' | i18n}}</nz-form-label>
          <nz-form-control [nzErrorTip]="vt_name">
            <input #v_name="xValidationExtend" name="name" nz-input x-validation-extend
              displayName="app.systems.role.column.name" placeholder="{{'app.systems.role.column.name' | i18n}}"
              [(ngModel)]="model.name" [maxlength]="64" [required]="true" />
            <ng-template #vt_name>{{v_name.getErrorMessage()}}</ng-template>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <nz-row [nzGutter]="16">
      <nz-col nzLg="24" nzMd="24" nzSm="24">
        <nz-form-item>
          <nz-form-label>{{'app.systems.role.column.enabled' | i18n}}</nz-form-label>
          <nz-form-control>
            <nz-switch name="enabled" [(ngModel)]="model.enabled"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <nz-row [nzGutter]="16">
      <nz-col nzLg="24" nzMd="24" nzSm="24">
        <nz-form-item>
          <nz-form-label>{{'app.systems.role.column.remark' | i18n}}</nz-form-label>
          <nz-form-control>
            <textarea name="remark" placeholder="{{'app.systems.role.column.remark' | i18n}}" nz-input
              [(ngModel)]="model.remark" maxlength="512"></textarea>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </div>

  <div class="dc-modal-footer">
    <button #btnCancel type="button" (click)="close()" nz-button>{{'util.cancel'|i18n}}</button>
    <button #btnSubmit type="submit" (click)="submit(btnSubmit, form)" nz-button
      nzType="primary">{{'util.ok'|i18n}}</button>
  </div>
</form>