<!-- <div class="modal-header">
  <div class="modal-title" backdrop="static">日志详情</div>
</div> -->
<div class="modal-body">
  <nz-descriptions [nzBordered]="true" [nzColumn]="2">
    <nz-descriptions-item nzTitle="{{'app.logs.login-log.column.loginName'|i18n}}">{{ model.loginName }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="{{'app.logs.login-log.column.ipAddress'|i18n}}">{{ model.ipAddress }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="{{'app.logs.login-log.column.location'|i18n}}">{{ model.location }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="{{'app.logs.login-log.column.os'|i18n}}">{{ model.os }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="{{'app.logs.login-log.column.status'|i18n}}">{{ model.status | loginStatus }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="{{'app.logs.login-log.column.promptMsg'|i18n}}">{{ model.promptMsg }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="{{'app.logs.login-log.column.browser'|i18n}}" nzSpan="2">{{ model.browser }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="{{'app.logs.login-log.column.creationTime'|i18n}}">{{ model.creationTime }}</nz-descriptions-item>
  </nz-descriptions>
</div>
